
.header-logo img{
    width: 50px;
    border-radius: 50%;
}
section {
    /* min-height: 100vh; */
    margin-block: 100px;
}

/* .top-slide-box img{
    width:100px;
} */
.profile-height > div {
    padding: 5px;
}

.profile-height > div:first-of-type {
    border-style: double;
    border-top: none;
    border-left: none;
}

.profile-height > div:last-of-type {
    border-style: double;
    border-bottom: none;
    border-right: none;
}

.profile-height > div > div {
    height: 250px;
}

.profile-height .image {
    /* mix-blend-mode: color-burn; */
    height: 100%;
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
}
.card-body {
    position: relative;
    padding: 40px!important;

}
.card-body span {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);


    font-size: 12px;
    /* color: red; */
}

/* <!-- services page --> */
.services  strong {
    color: red;
}


.skills-icon {
    font-size: 100px;
}

.country-flag {
    width: 300px;
}
.icon-services {
    width: 150px;
}

/* <!-- footer page --> */
.flex-wrapper {
    display: flex;
    justify-content: start;
    gap: 200px;
    align-items: center;
}
.address {
    display: flex;
}
.sns-wrapper a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
.sns-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    
}
.address dt{
    float: left;
}
.address dd {
    margin-bottom: 20px;
}